.topContainer{
    display: flex;
    justify-content: space-between;
}

.container1{
    margin-top: -20px;
    margin-left: 60px;
}

.welcome{
    font-size: 50px;
    color: #4E4E4E;
    font-weight: 500;
}

.name{
    color: #00a03a;
    font-weight: bold;
    border-bottom: 7px solid #00A03A;
    width: fit-content;
    margin-bottom: 20px;
}

.text1{
    font-size: 25px;
}

.text2{
    font-size: 25px;
    color: #00a03a;
    font-weight: bold;
}

.topContainer img{
    width: 600px;
    margin-right: 100px;
}

.bottomContainer{
    margin-left: 60px;
    margin-top: -200px;
}

.check{
    margin-top: 20px;
    font-size: 40px;
    margin-bottom: 20px;
}

.daily{
    font-size: 40px;
    color: #00a03a;
    display: inline-block;
}

.dailyButton{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    background-color: #00a03a;
    border-radius: 20px;
    font-weight: bold;
}